 * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(41 43 44);
    background-color: white;
        }

        a {
    text-decoration: none;
        }

    .header__announcement {
    height: 120px;
    text-align: center;
    padding-top: 10px; 
    color: white;
}


