 * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(41 43 44);
    background-color: white;
        }

        a {
    text-decoration: none;
        }

    .header__announcement {
    height: 120px;
    text-align: center;
    padding-top: 10px; 
    color: white;
    }

    nav {
    height: 56px;
    padding-block: 8px;
    padding-inline: 16px;
    }

    .navbar__toggle {
    width: 50px;
    height: 40px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    }

    .navbar__logo {
    min-width: 90px;
    height: 40px;
    }
    
    .logo-primary {
    fill: #2c8aa6;
    }
    .logo-secondary {
    fill: white;
    }

    form {
    background-color: white;
    }


    .search__input {
    height: 32px;
    min-width: 264px;
    border: none;
    }